<footer class="page-footer font-small stylish-color-dark">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-1 mb-2">
          <a class="nav-link" href="agevolazioni.html">ECOBONUS</a>
        </h5>
        <p style="color: #269900">
          <b
            >ECOBONUS statale con l'acquisto di una nuova tenda da sole puoi
            recuperare il 50% della spesa</b
          >
          <br />
          <span style="font-size: 10px"
            >qualora rispettino i requisiti indicati nell'Allegato M del Dlgs
            311/2006</span
          >
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-1 mb-2">Contatti</h5>

        <ul>
          <li>
            Mail:<a href="mailto:info@crystaltende.it"> info@crystaltende.it</a>
          </li>
          <li>
            PEC:<a href="mailto:manuel.loscalzo@pec.it">
              manuel.loscalzo@pec.it</a
            >
          </li>
          <li>Numero:<a href="tel:3809006222">3809006222</a></li>
          <li>Cellulare:<a href="tel:3480552778">3480552778</a></li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none" />
    </div>
  </div>

  <hr />

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1">
    © 2020 Copyright:
    <a href="index.html"> www.crystaltende.it</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
