<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  id="nav"
  style="padding: 15px; z-index: 100"
>
  <div class="navbar-brand" href="#">
    <a href="index.html">
      <img src="img/logo_crystal.jpg" alt="logo" class="log" />
    </a>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="ulnav">
      <li class="nav-item">
        <a class="nav-link" href="index.html"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Prodotti
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="prodotti.html">Tutti i prodotti</a>
          <a class="dropdown-item" href="tendeDaEsterno.html"
            >Tende da esterno</a
          >
          <a class="dropdown-item" href="pergolati.html">Pergolati</a>
          <a class="dropdown-item" href="chiusurePerimetrali.html"
            >Chiusure perimetrali</a
          >
          <a class="dropdown-item" href="bioclimatiche.html">Bioclimatiche</a>
          <a class="dropdown-item" href="pedane2.html">Pedane</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="scelta.html">Perchè sceglierci</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="agevolazioni.html">Agevolazioni</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="lavori.html">Lavori</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contatti.html">Contatti</a>
      </li>
    </ul>
  </div>
</nav>
<style>
  #ulnav li {
    font-size: 20px;
    transition: transform 0.2s;
    color: black;
  }
  #ulnav li:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }
</style>
<script>
  window.onscroll = function () {
    stickyNavbar();
    scrollFunction();
  };

  var navbar = document.getElementById("nav");
  navbar.style.marginBottom = "-5rem";
  var sticky = navbar.offsetTop;

  function stickyNavbar() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("fixed-top");
    } else {
      navbar.classList.remove("fixed-top");
    }
  }

  function scrollFunction() {
    if ($(document).scrollTop() > 50) {
      $("nav").css("padding", "10px");
      $("nav, #ulnav li").css("transition", "all 0.3s ease");
      $("#ulnav li").css("font-size", "15px");
    } else {
      $("nav").css("padding", "15px");
      $("nav, #ulnav li").css("transition", "all 0.3s ease");
      $("#ulnav li").css("font-size", "20px");
    }
  }
</script>
