body {
  font-family: "PT Sans", sans-serif;
}

.centerImg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.log {
  width: 65px;
  height: 45px;
  margin-left: 1rem;
}

.centerText {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.responsive {
  width: 100%;
  height: auto;
}

/*.container > div img {
  /*  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/

.zoom {
  transition: transform 0.2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.zoomLess {
  transition: transform 0.2s;
  margin: 0 auto;
}

.zoomLess:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
